body {
  margin: 0;
  font-family: "Baloo Bhaina 2", cursive;
  background: #f1f0eb;
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (max-width: 640px) { 
  /* header */
  
  header{
    background-color: orange;
    /* border: 1px solid blue; */
    z-index: 1;
  }

  #navbar-container{
    display: flex;
    flex-direction: row;
  }

  #title{
    font-size: 1.3em;
    padding-left: 1rem;
  }

  #top-button-container{
    position: absolute
  }
  
  /* main */
  main{
    /* border: 1px solid blue; */
    background: url(./images/Flat-Mountains.svg) no-repeat bottom center;
    background-size: 100%;
    background-attachment: fixed;
  }
  
.main-container{
  
}

  
/* footer */
  footer{
    /* border: 1px solid blue; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    z-index: 1;
  }
}


@media only screen and (min-width: 641px) { }


@media only screen and (min-width: 641px) and (max-width: 1024px) { }


@media only screen and (min-width: 1025px) { }


@media only screen and (min-width: 641px) { }


@media only screen and (min-width: 1025px) { }


@media only screen and (max-width: 1024px) { }

