@import "mixins";

$font-stack: "Space Mono", monospace;
$background-color: #f1f0eb;

.App{
  border: 0;
  padding: 0;
  margin:0;
}

body {
  background-image: url(./images/Cloud-20s-1084px.svg);
  z-index: -1;
  background-size: 200%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  // background-color: $background-color;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid blue; */

  // position: absolute;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
}

@media only screen and (max-width: 640px) {
  /* header */

  header {
    font-family: $font-stack;
    height: 0px;
    position: fixed;
    // overflow: hidden;
    width: 100%;
    top: 0;
    margin: 0;
    // background-color: #d6d6d6;
    // box-shadow: 1px 1px 5px rgb(124, 124, 124);
    z-index: 1;
    // background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // border: 1px solid purple;\

    #navbar-container {
      // width: 100%;
      // border: 1px solid red;
      // height: 100%;
      // display: grid;
      // grid-template-columns: 10% 90% 10%;
      .accordion-button-container {
        outline: none;
        .filter {
          // filter: drop-shadow(1px 1px 2px #4a4a66);
        }
        // @include fadein;
        font-size: 0%;
        padding: 0;
        border: 0;
        // border: 2px solid red;
        background-color: rgba(102, 51, 153, 0);
        .close-button {
          // background-size: 8px 8px;
          filter: drop-shadow(1px 1px 2px #161748);
        }
        #title-container {
          // border: 1px solid blue;
          height: 100%;
          display: flex;
          justify-content: center;
          #title {
            // padding: 0;
            // -webkit-text-stroke: .5px #161748;
            color: #09868b;
            text-shadow: 1px 1px 2px #4a4a66;
            // letter-spacing: 1vw;
            // margin-top: 1vw;
            // border: 1px solid green;
            font-size: 6vw;
          }
        }
      }
    }
  }

  /* main */
  main {
    width: 100vw;
    height: 100vh;
    // margin-top: 50px;
    // height: 812px;
    // position: fixed;
    // background-color: #76c1d4;
    // background-size:10%;
    // border: purple 1px solid;
    border: 0;
    padding: 0;
    margin: 0;
    // bottom: 0;
    // border: purple 1px solid;

    #section-one {
      // position: fixed;
      // margin-top: 40px;
      // height: 100%;
      // border: purple 1px solid;
      z-index: 0;
      .grid-container {
        // height: 91%;
        // border: purple 1px solid;
        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: auto;
        // background-color: #2196f3;
        
        .long-item-top {
          grid-column-start: 1;
          grid-column-end: 3;

          // background-color: rgba(255, 255, 255, 0.8);
          // border: 1px solid rgba(0, 0, 0, 0.8);
          border-top-left-radius: 25px;
          // border-bottom-right-radius: 25px;
          display: flex;
          justify-content: flex-end;
          #title-box {
            // background-color: #e1e8f0;
            // background-attachment: fixed;
            // height: 100%;
            background-image: url(./images/pinkcloud.svg);
            background-repeat: repeat-x;
            overflow: visible;
            z-index: 0;
            // border: 1px solid rgba(0, 0, 0, 0.8);
            #title {
              @include aarontitle;
            }
          }
          // padding: 20px;
          // font-size: 30px;
          text-align: center;
        }
        .long-item {
          grid-column-start: 1;
          grid-column-end: 3;
          background-color: rgba(255, 255, 255, 0.8);
          // border: 1px solid rgba(0, 0, 0, 0.8);
          // border-radius: 50px;
          // padding: 20px;
          // font-size: 30px;
          text-align: center;
        }
        .long-item-bottom {
          grid-column-start: 1;
          grid-column-end: 3;
          background-color: rgba(255, 255, 255, 0.8);
          // border: 1px solid rgba(0, 0, 0, 0.8);
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;

          // padding: 20px;
          // font-size: 30px;
          text-align: center;
        }
        .long-item-bottom-title {
          grid-column-start: 1;
          grid-column-end: 3;
          // background-color: rgba(255, 255, 255, 0.8);
         
          // background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          border-bottom-left-radius: 25px;
          // border-bottom-right-radius: 25px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
         
          // padding: 20px;
          // font-size: 30px;
          text-align: center;
        }
        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          // border: 1px solid rgba(0, 0, 0, 0.8);
          // border-radius: 50px;
          // padding: 20px;
          // font-size: 30px;
          text-align: center;
        }
      }
    }
  }

  /* footer */
  footer {
    font-family: $font-stack;
    height: 20vh;
    position: fixed;
    bottom: 0;
    border: 0;
    margin:0;
    // overflow: hidden;
    width: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 1;
    .footer-container{
      // border: 1px solid rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      background-image: url(./images/Flat-Mountains.svg);
      background-size: 100%;
      background-position: bottom;
      background-repeat: repeat-x;
      .item3{

      }
    }
  }
}

@media only screen and (min-width: 641px) {
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 641px) {
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (max-width: 1024px) {
}
