@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  z-index: -1;
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
  /* border: 1px solid blue; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a4a6fff;
}

@media (max-width: 600px) {
  /* header */
  header {
    font-family: "Proza Libre", sans-serif;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  header #navbar-container {
    display: flex;
    flex-direction: row;
    z-index: 999;
  }
  header #navbar-container .accordion-button-container {
    align-self: flex-start;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 0%;
    padding: 0;
    border: 0;
    background-color: rgba(218, 112, 214, 0);
    position: absolute;
  }
  header #navbar-container .accordion-button-container .burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-tap-highlight-color: transparent;
  }
  header #navbar-container .accordion-button-container .burger .burger-lines:after {
    left: 0;
    top: -1em;
  }
  header #navbar-container .accordion-button-container .burger .burger-lines:before {
    left: 1em;
    top: 1em;
  }
  header #navbar-container .accordion-button-container .burger:after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }
  header #navbar-container .accordion-button-container .burger .burger-lines {
    top: 70%;
    margin-top: -0.125em;
    left: 40%;
  }
  header #navbar-container .accordion-button-container .burger .burger-lines, header #navbar-container .accordion-button-container .burger .burger-lines:after, header #navbar-container .accordion-button-container .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: "";
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    transform: rotate(0);
  }
  header #navbar-container .accordion-button-container .burger .burger-lines:after {
    left: 0;
    top: -0.6em;
  }
  header #navbar-container .accordion-button-container .burger .burger-lines:before {
    left: 0em;
    top: 0.7em;
  }
  header #navbar-container .accordion-button-container .burger-squeeze {
    width: 2em;
    font-size: 12px;
  }
  header #navbar-container .accordion-button-container .burger-squeeze .burger-lines, header #navbar-container .accordion-button-container .burger-squeeze .burger-lines:after, header #navbar-container .accordion-button-container .burger-squeeze .burger-lines:before {
    background-color: #3a4a6fff;
    transition: 0.2s top 0.2s, 0.1s left, 0.2s transform, 0.4s background-color 0.2s;
  }
  header #navbar-container .accordion-button-container .burger-squeeze .burger-lines:after, header #navbar-container .accordion-button-container .burger-squeeze .burger-lines:before {
    width: 2em;
  }
  header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines, header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:after, header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:before {
    transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
  }
  header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines {
    background-color: transparent;
  }
  header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:before, header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:after {
    left: 0em;
    top: 0px;
  }
  header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:before {
    transform: rotate(-45deg);
  }
  header #navbar-container .accordion-button-container .burger-squeeze.open .burger-lines:after {
    transform: rotate(45deg);
  }
  header #navbar-container .accordion-button-container #accordion-icon {
    padding-top: 20px;
    margin-left: 2vw;
    height: 3vh;
  }
  header #navbar-container .accordion-button-container #close-icon {
    padding-top: 20px;
    margin-left: 2vw;
    height: 3vh;
  }
  header #navbar-container .accordion-button-container #button-container {
    padding-top: 5px;
    position: relative;
    left: 1.2vw;
  }
  header #navbar-container .accordion-button-container #button-container .button-one {
    width: 100px;
    color: white;
    background-color: #8076a3;
    border-radius: 40%;
    text-align: center;
    line-height: 49px;
    font-size: 1.5em;
  }
  header #navbar-container .item2 {
    width: 20vw;
  }
  header #navbar-container .item3 {
    height: 100%;
    width: 80vw;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  /* main */
  main {
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
  }
  main #main-container #home {
    height: 100vh;
    z-index: 0;
  }
  main #main-container #home .grid-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  main #main-container #home .grid-container .top-container {
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    z-index: 0;
    overflow: visible;
    text-align: center;
  }
  main #main-container #home .grid-container .top-container #title-box {
    z-index: 0;
  }
  main #main-container #home .grid-container .top-container #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #384a6cff;
    font-size: 5vh;
  }
  main #main-container #home .grid-container #about-me-middle-container {
    height: 75vh;
    font-family: "Proza Libre", sans-serif;
  }
  main #main-container #home .grid-container #about-me-middle-container #title-box {
    height: 30%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #main-container #home .grid-container #about-me-middle-container #title-box #sub-header {
    color: #ec6543ff;
  }
  main #main-container #home .grid-container #about-me-middle-container #main-box-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #main-container #home .grid-container #about-me-middle-container #main-box-one #main-box-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main #main-container #home .grid-container #about-me-middle-container #main-box-one #main-box-image-container #main-box-image {
    width: 100%;
    height: 30vh;
  }
  main #main-container #home .grid-container #about-me-middle-container #main-box-one #main-box-image-container #main-box-text {
    border: 1px solid #ec6543ff;
    border-radius: 10px;
    padding: 10px;
    width: 85%;
    font-size: 2vh;
  }
  main #main-container #home .grid-container .bottom-container {
    height: 20vh;
    display: flex;
    flex-direction: row;
  }
  main #main-container #home .grid-container .bottom-container #bottom-one {
    width: 40%;
    border-bottom-left-radius: 25px;
  }
  main #main-container #home .grid-container .bottom-container #bottom-two {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  main #main-container #home .grid-container .bottom-container #bottom-two #down-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #main-container #home .grid-container .bottom-container #bottom-two #down-button img {
    z-index: 999;
    height: 4vh;
  }
  main #main-container #home .grid-container .bottom-container #bottom-three {
    width: 40%;
  }
  main #main-container #about-me {
    height: 100vh;
    z-index: 0;
  }
  main #main-container #about-me .grid-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  main #main-container #about-me .grid-container .about-me-top-container {
    border-top-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 0;
    text-align: center;
  }
  main #main-container #about-me .grid-container .about-me-top-container #title-box {
    background-image: url(./images/pinkcloud.svg);
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat-x;
    z-index: 0;
  }
  main #main-container #about-me .grid-container .about-me-top-container #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #384a6cff;
    font-size: 5vh;
  }
  main #main-container #about-me .grid-container .about-me-top-container #title-box #sub-title {
    font-family: "Proza Libre", sans-serif;
    font-size: 80%;
    color: #384a6cff;
  }
  main #main-container #about-me .grid-container #about-me-middle-container {
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Proza Libre", sans-serif;
    color: #414040;
  }
  main #main-container #about-me .grid-container #about-me-middle-container #title-box-one {
    box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffffe8;
    padding: 15px;
    font-size: 2vh;
    display: flex;
    overflow: auto;
  }
  main #main-container #about-me .grid-container #about-me-middle-container #main-box-one {
    height: 20%;
    font-size: 2.2vh;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  main #main-container #about-me .grid-container #about-me-middle-container #main-box-two {
    box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffffe8;
    padding: 15px;
    font-size: 2vh;
    display: flex;
    overflow: auto;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-image: url(./images/profile1.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container #bottom-one {
    width: 40%;
    border-bottom-left-radius: 25px;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container #bottom-two {
    width: 40%;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container #bottom-three {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container #bottom-three #down-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #main-container #about-me .grid-container .about-me-bottom-container #bottom-three #down-button img {
    z-index: 999;
    height: 4vh;
  }
  main #main-container #portfolio {
    height: 100vh;
    z-index: 1;
  }
  main #main-container #portfolio .grid-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  main #main-container #portfolio .grid-container .top-container {
    border-top-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 0;
    text-align: center;
  }
  main #main-container #portfolio .grid-container .top-container #title-box {
    background-image: url(./images/pinkcloud.svg);
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat-x;
    z-index: 0;
  }
  main #main-container #portfolio .grid-container .top-container #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #384a6cff;
    font-size: 5vh;
  }
  main #main-container #portfolio .grid-container .top-container #title-box #sub-title {
    font-family: "Proza Libre", sans-serif;
    font-size: 80%;
    color: #384a6cff;
  }
  main #main-container #portfolio .grid-container #about-me-middle-container {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Proza Libre", sans-serif;
    color: #414040;
  }
  main #main-container #portfolio .grid-container #about-me-middle-container #title-box-one {
    box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffffe8;
    padding: 15px;
    font-size: 2vh;
    display: flex;
    overflow: auto;
  }
  main #main-container #portfolio .grid-container #about-me-middle-container #main-box-one {
    height: 20%;
    font-size: 2.2vh;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  main #main-container #portfolio .grid-container #about-me-middle-container #main-box-two {
    box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
    background-color: #ffffffe8;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffffe8;
    padding: 15px;
    font-size: 2vh;
    display: flex;
    overflow: auto;
  }
  main #main-container #portfolio .grid-container .bottom-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  main #main-container #portfolio .grid-container .bottom-container #bottom-one {
    width: 40%;
    border-bottom-left-radius: 25px;
  }
  main #main-container #portfolio .grid-container .bottom-container #bottom-two {
    width: 40%;
  }
  main #main-container #portfolio .grid-container .bottom-container #bottom-three {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  main #main-container #portfolio .grid-container .bottom-container #bottom-three #down-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #main-container #portfolio .grid-container .bottom-container #bottom-three #down-button img {
    z-index: 999;
    height: 4vh;
  }
  main #main-container #contact {
    height: 100vh;
    z-index: 0;
  }
  main #main-container #contact .grid-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: auto;
  }
  main #main-container #contact .grid-container .top-container {
    border-top-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 0;
    text-align: center;
  }
  main #main-container #contact .grid-container .top-container #title-box {
    background-image: url(./images/pinkcloud.svg);
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat-x;
    z-index: 0;
  }
  main #main-container #contact .grid-container .top-container #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #384a6cff;
    font-size: 5vh;
  }
  main #main-container #contact .grid-container .top-container #title-box #sub-title {
    font-family: "Proza Libre", sans-serif;
    font-size: 80%;
    color: #384a6cff;
  }
  main #main-container #contact .grid-container #middle-container {
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Proza Libre", sans-serif;
    color: #414040;
  }
  main #main-container #contact .grid-container #middle-container #title-box-one {
    box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffffe8;
    padding: 15px;
    font-size: 2vh;
    display: flex;
    overflow: auto;
  }
  main #main-container #contact .grid-container #middle-container #main-box-one {
    height: 20%;
    font-size: 2.2vh;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  main #main-container #contact .grid-container .bottom-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  main #main-container #contact .grid-container .bottom-container #bottom-one {
    width: 40%;
    border-bottom-left-radius: 25px;
  }
  main #main-container #contact .grid-container .bottom-container #bottom-two {
    width: 40%;
  }
  main #main-container #contact .grid-container .bottom-container #bottom-three {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  main #main-container #contact .grid-container .bottom-container #bottom-three #down-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #main-container #contact .grid-container .bottom-container #bottom-three #down-button img {
    z-index: 999;
    height: 4vh;
  }
  main #main-container #tech-stack {
    height: 100vh;
    z-index: 0;
  }
  main #main-container #tech-stack .grid-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(./images/octo2.svg);
    background-size: 70%;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: visible;
  }
  main #main-container #tech-stack .grid-container .top-container {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
  }
  main #main-container #tech-stack .grid-container .top-container #title-box {
    background-image: url(./images/pinkcloud.svg);
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat-x;
    z-index: 0;
  }
  main #main-container #tech-stack .grid-container .top-container #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #384a6cff;
    font-size: 5vh;
  }
  main #main-container #tech-stack .grid-container .top-container #title-box #sub-title {
    font-family: "Proza Libre", sans-serif;
    font-size: 80%;
    color: #384a6cff;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 20% 25% 25%;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #front-end-title {
    align-self: center;
    font-family: "Proza Libre", sans-serif;
    color: white;
    background-color: #d3006cff;
    padding: 5px;
    writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #container #icon-container {
    margin: 2px;
    background-color: #ffffffe8;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #container #icon-container #icon {
    padding: 2px;
    margin: 0;
    height: 8vh;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #container #icon-container #icon-title {
    font-family: "Proza Libre", sans-serif;
    padding: 2px;
    color: #161616;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #front-end #container #icon-container:hover {
    transform: scale(1.1, 1.1);
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #back-end-title {
    align-self: center;
    font-family: "Proza Libre", sans-serif;
    color: white;
    background-color: #d3006cff;
    padding: 5px;
    writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #container #icon-container {
    margin: 2px;
    background-color: #ffffffe8;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #container #icon-container #icon {
    padding: 2px;
    margin: 0;
    height: 8vh;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #container #icon-container #icon-title {
    font-family: "Proza Libre", sans-serif;
    padding: 2px;
    color: #161616;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #back-end #container #icon-container:hover {
    transform: scale(1.1, 1.1);
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #database-title {
    align-self: center;
    font-family: "Proza Libre", sans-serif;
    color: white;
    background-color: #d3006cff;
    padding: 5px;
    writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #container #icon-container {
    margin: 2px;
    background-color: #ffffffe8;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #container #icon-container #icon {
    padding: 2px;
    margin: 0;
    height: 8vh;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #container #icon-container #icon-title {
    font-family: "Proza Libre", sans-serif;
    padding: 2px;
    color: #161616;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #database #container #icon-container:hover {
    transform: scale(1.1, 1.1);
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other {
    z-index: 999;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #other-title {
    align-self: center;
    font-family: "Proza Libre", sans-serif;
    color: white;
    background-color: #d3006cff;
    padding: 5px;
    writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #container #icon-container {
    margin: 2px;
    background-color: #ffffffe8;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #container #icon-container #icon {
    padding: 2px;
    margin: 0;
    height: 8vh;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #container #icon-container #icon-title {
    font-family: "Proza Libre", sans-serif;
    padding: 2px;
    color: #161616;
  }
  main #main-container #tech-stack .grid-container .long-row-middle-1 #other #container #icon-container:hover {
    transform: scale(1.1, 1.1);
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container #bottom-one {
    width: 40%;
    border-bottom-left-radius: 25px;
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container #bottom-two {
    width: 40%;
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container #bottom-three {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container #bottom-three #down-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #main-container #tech-stack .grid-container .about-me-bottom-container #bottom-three #down-button img {
    z-index: 999;
    height: 4vh;
  }

  /* footer */
  footer {
    font-family: "Proza Libre", sans-serif;
    position: fixed;
    bottom: 0;
    border: 0;
    margin: 0;
  }
  footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-size: 80%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  footer .footer-container .item1 {
    width: 20vw;
  }
  footer .footer-container .item2 {
    width: 20vw;
  }
  footer .footer-container .item3 {
    height: 100%;
    width: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}