@import "mixins";

$font-stack: "Proza Libre", sans-serif;
$background-color: #f1f0eb;

.App {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/Cloud-20s-1084px.svg);
  z-index: -1;
  background-size: 200%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  // background-color: $background-color;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid blue; */

  // position: absolute;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
}

@media only screen and (max-width: 640px) {
  /* header */

  header {
    font-family: $font-stack;
    height: 50vh;
    position: fixed;
    // overflow: hidden;
    width: 100%;
    top: 0;
    margin: 0;
    // background-color: #d6d6d6;
    // box-shadow: 1px 1px 5px rgb(124, 124, 124);
    z-index: 1;
    // background-color: orange;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    // border: 1px solid purple;\

    #navbar-container {
      width: 100%;
      // border: 1px solid red;
      height: 100%;
      // display: grid;
      // grid-template-columns: 10% 90% 10%;
      display: flex;
      flex-direction: row;
      // justify-content: space-evenly;
      // align-items: center;
      .accordion-button-container {
        // width: 20vw;
        align-self: flex-start;
        outline: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        font-size: 0%;
        padding: 0;
        border: 0;
        // border: 2px solid red;
        background-color: rgba(102, 51, 153, 0);
        position: absolute;
        #accordion-icon {
          padding-top: 20px;
          margin-left: 2vw;
          height: 3vh;
        }
        .filter {
          // filter: drop-shadow(1px 1px 2px #4a4a66);
        }
        // @include fadein;
        #close-icon {
          padding-top: 20px;
          margin-left: 2vw;
          height: 3vh;
          // filter: drop-shadow(1px 1px 2px #161748);
        }
        #button-container {
          // border: 1px solid red;
          padding-top: 5px;
          // margin-left: 10px;
          position: relative;
          left: 1.2vw;
          .button-one {
            // margin-bottom: 5px;
            // bottom: 0;
            // width: 7vw;
            // height: 3vh;
            width: 100px;
            color: rgb(255, 255, 255);
            background-color: #8076a3;
            border-radius: 40%;
            text-align: center;
            // border: 2px solid #ffffff;
            line-height: 49px;
            font-size: 1.5em;
            // box-shadow: 2px 2px 10px rgba(109, 109, 109, 0.25) inset,
            //   1px 1px 5px #f9c5bd inset, 0px 3px 3px rgba(0, 0, 0, 0.5);
          }
          .button-two {
          }
          .button-three {
          }
          .button-four {
          }
        }
      }
      .item2 {
        // border: 1px solid green;
        // height: 100%;
        width: 20vw;
      }
      .item3 {
        // border: 1px solid blue;
        height: 100%;
        width: 80vw;
        background-image: url(./images/cloud2.svg);
        background-position: center;
        background-repeat: no-repeat;

        z-index: 1;
      }
    }
  }

  /* main */
  main {
    width: 100vw;
    height: 100vh;
    // margin-top: 50px;
    // height: 812px;
    // position: fixed;
    // background-color: #76c1d4;
    // background-size:10%;
    border: 0;
    padding: 0;
    margin: 0;
    // bottom: 0;
    // border: purple 1px solid;
    #main-container{

      #about-me,
      #tech-stack,
      #portfolio,
      #contact {
        @include main-area-template;
      }
    }
  }
  .list-transition-enter {
  }

  /* footer */
  footer {
    font-family: $font-stack;
    height: 50vh;
    position: fixed;
    bottom: 0;
    border: 0;
    margin: 0;
    // overflow: hidden;
    width: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 1;
    .footer-container {
      // border: 1px solid rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      background-image: url(./images/Flat-Mountains.svg);
      background-size: 100%;
      background-position: bottom;
      background-repeat: repeat-x;
      .item1 {
        // border: 1px solid green;
        // height: 100%;
        width: 20vw;
      }
      .item2 {
        // border: 1px solid green;
        // height: 100%;
        width: 20vw;
      }
      .item3 {
        height: 100%;
        width: 60vw;
        border: 1px solid rgba(0, 0, 0, 0.8);
        background-image: url(./images/cloudclump.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        z-index: 1; 
      }
    }
  }
}

@media only screen and (min-width: 641px) {
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 641px) {
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (max-width: 1024px) {
}
