@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/Cloud-20s-1084px.svg);
  z-index: -1;
  background-size: 200%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 640px) {
  /* header */
  header {
    font-family: "Proza Libre", sans-serif;
    height: 50vh;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  header #navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  header #navbar-container .accordion-button-container {
    align-self: flex-start;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 0%;
    padding: 0;
    border: 0;
    background-color: rgba(102, 51, 153, 0);
    position: absolute;
  }
  header #navbar-container .accordion-button-container #accordion-icon {
    padding-top: 20px;
    margin-left: 2vw;
    height: 3vh;
  }
  header #navbar-container .accordion-button-container #close-icon {
    padding-top: 20px;
    margin-left: 2vw;
    height: 3vh;
  }
  header #navbar-container .accordion-button-container #button-container {
    padding-top: 5px;
    position: relative;
    left: 1.2vw;
  }
  header #navbar-container .accordion-button-container #button-container .button-one {
    width: 100px;
    color: white;
    background-color: #8076a3;
    border-radius: 40%;
    text-align: center;
    line-height: 49px;
    font-size: 1.5em;
  }
  header #navbar-container .item2 {
    width: 20vw;
  }
  header #navbar-container .item3 {
    height: 100%;
    width: 80vw;
    background-image: url(./images/cloud2.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  /* main */
  main {
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
  }
  main #main-container #about-me,
main #main-container #tech-stack,
main #main-container #portfolio,
main #main-container #contact {
    z-index: 0;
  }
  main #main-container #about-me .grid-container,
main #main-container #tech-stack .grid-container,
main #main-container #portfolio .grid-container,
main #main-container #contact .grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
  }
  main #main-container #about-me .grid-container .long-row-top,
main #main-container #tech-stack .grid-container .long-row-top,
main #main-container #portfolio .grid-container .long-row-top,
main #main-container #contact .grid-container .long-row-top {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
    text-align: center;
  }
  main #main-container #about-me .grid-container .long-row-top #title-box,
main #main-container #tech-stack .grid-container .long-row-top #title-box,
main #main-container #portfolio .grid-container .long-row-top #title-box,
main #main-container #contact .grid-container .long-row-top #title-box {
    background-image: url(./images/pinkcloud.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-x;
    z-index: 0;
  }
  main #main-container #about-me .grid-container .long-row-top #title-box #title,
main #main-container #tech-stack .grid-container .long-row-top #title-box #title,
main #main-container #portfolio .grid-container .long-row-top #title-box #title,
main #main-container #contact .grid-container .long-row-top #title-box #title {
    font-family: "Proza Libre", sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #4a4a66;
    font-size: 8vw;
  }
  main #main-container #about-me .grid-container .long-row-top #title-box #sub-title,
main #main-container #tech-stack .grid-container .long-row-top #title-box #sub-title,
main #main-container #portfolio .grid-container .long-row-top #title-box #sub-title,
main #main-container #contact .grid-container .long-row-top #title-box #sub-title {
    font-family: "Proza Libre", sans-serif;
    font-size: 80%;
    color: #3d7c47ff;
  }
  main #main-container #about-me .grid-container .long-row-middle-1,
main #main-container #tech-stack .grid-container .long-row-middle-1,
main #main-container #portfolio .grid-container .long-row-middle-1,
main #main-container #contact .grid-container .long-row-middle-1 {
    height: 62vh;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  main #main-container #about-me .grid-container .long-row-middle-2,
main #main-container #tech-stack .grid-container .long-row-middle-2,
main #main-container #portfolio .grid-container .long-row-middle-2,
main #main-container #contact .grid-container .long-row-middle-2 {
    height: 20vh;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  main #main-container #about-me .grid-container .long-row-bottom-title,
main #main-container #tech-stack .grid-container .long-row-bottom-title,
main #main-container #portfolio .grid-container .long-row-bottom-title,
main #main-container #contact .grid-container .long-row-bottom-title {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  main #main-container #about-me .grid-container .grid-item,
main #main-container #tech-stack .grid-container .grid-item,
main #main-container #portfolio .grid-container .grid-item,
main #main-container #contact .grid-container .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }

  /* footer */
  footer {
    font-family: "Proza Libre", sans-serif;
    height: 50vh;
    position: fixed;
    bottom: 0;
    border: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
  }
  footer .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(./images/Flat-Mountains.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-x;
  }
  footer .footer-container .item1 {
    width: 20vw;
  }
  footer .footer-container .item2 {
    width: 20vw;
  }
  footer .footer-container .item3 {
    height: 100%;
    width: 60vw;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url(./images/cloudclump.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}