$fade-in-time: 5s;
$stand-out-color: #384a6cff;
$stand-in-color: #ec6543ff;

@mixin home-master {
  // position: fixed;
  // margin-top: 40px;
  height: 100vh;
  // border: purple 1px solid;
  z-index: 0;
  .grid-container {
    // height: 91%;
    // border: purple 1px solid;

    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 3px solid white;
      display: flex;
      justify-content: flex-end;
      // height: 8vh;
      height: 5vh;
      z-index: 0;
      overflow: visible;
      text-align: center;
      #title-box {
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        // background-image: url(./images/pinkcloud.svg);
        // background-size: 100%;
        // background-position: top center;
        // background-repeat: repeat-x;
        z-index: 0;
        #title {
          // border: 1px solid rgba(0, 0, 0, 0.8);
          @include aarontitle;
        }
      }
      #lng-container {
        display: flex;
        flex-direction: column;
        height: 8vh;
        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
    #about-me-middle-container {
      // border: 1px solid purple;
      // height: 58vh;
      // height: 75vh;
      font-family: $font-stack;
      #title-box {
        height: 30%;
        padding-right: 10px;
        padding-left: 10px;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        #sub-header {
          color: $stand-in-color;
        }
      }
      #main-box-one {
        // height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        #main-box-image-container {
          // border: 1px solid red;
          // height: 100%;
          // width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          // @include ufoanimation;

          #entwickler {
            visibility: hidden;
          }

          #desarrollador {
            visibility: hidden;
          }

          #splatter1 {
            visibility: hidden;
          }

          #splatter2 {
            visibility: hidden;
          }

          #topmoon {
            visibility: hidden;
          }
          #moon {
            visibility: hidden;
          }
          #ufo {
            visibility: hidden;
          }
          #schriftstellor {
            visibility: hidden;
          }
          #escritor {
            visibility: hidden;
          }
          #entwickler {
            visibility: hidden;
          }
          #pedagoge {
            visibility: hidden;
          }
          #profesor {
            visibility: hidden;
          }
          #desarrollador {
            visibility: hidden;
          }
          #writer {
            visibility: hidden;
          }
          #educator {
            visibility: hidden;
          }
          #developer {
            visibility: hidden;
          }
          #aaronBlumSolid {
            visibility: hidden;
          }
          #aaronBlumOutline {
            visibility: show;
          }
          #letter1 {
            visibility: hidden;
          }
          #underline{
            visibility: hidden;
          }
          #solidunderline{
            visibility: hidden;
          }
          #extraR1{
            visibility: hidden;
          }
          #extraR2{
            visibility: hidden;
          }
          #extraR3{
            visibility: hidden;
          }
          #extraR4{
            visibility: hidden;
          }

          #main-box-image {
            // width: 100%;
            // border: 1px solid red;
            // height: 30vh;
          }
          #main-box-text {
            // border: 1px solid $stand-in-color;
            border-radius: 10px;
            padding: 10px;
            width: 65%;
            font-size: 2vh;
            // height: 100%;
          }
        }
      }
      #main-box-two {
        // margin-top: 1vh;
        // border: 1px solid white;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
      }
    }
    .bottom-container {
      // border: 2px solid red;
      // height: 31vh;
      height: 20vh;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-right-radius: 25px;
      display: flex;
      // justify-content: flex-end;
      flex-direction: row;
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 40%;
      #bottom-one {
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);
        width: 40%;
        // border: 1px solid green;
        // border-bottom-left-radius: 25px;
        .home-animation {
          // z-index: 999;
          // width: 100px;
          // height: 100px;
          // border-radius: 50%;
          // box-shadow: inset 1em -1em $light-gray;
          position: relative;
          left: -50px;
          // right: 5vw;
          // animation: moveabout 5s ease;
          img {
            height: 70px;
            // background-color: orange;
          }
        }
        @keyframes moveabout {
          0% {
            opacity: 0;
            // transform: translateX(-5vw);
            // transform: translateX(90vw);
          }
          20% {
            opacity: 1;
            left: 20px;
            // transform: translateX(2vw);
          }
          20% {
            left: 19px;
            bottom: 1px;
          }
          21% {
            left: 20px;
            bottom: 0px;
          }
          22% {
            left: 21px;
            bottom: -1px;
          }
          23% {
            left: 20px;
            bottom: 0px;
          }
          24% {
            left: 19px;
            bottom: 1px;
          }
          25% {
            left: 20px;
            bottom: 0px;
          }
          26% {
            left: 21px;
            bottom: -1px;
          }
          27% {
            left: 20px;
            bottom: 0px;
          }
          28% {
            left: 19px;
            bottom: 1px;
          }
          29% {
            left: 20px;
            bottom: 0px;
          }
          30% {
            left: 21px;
            bottom: -1px;
          }
          31% {
            left: 20px;
            bottom: 0px;
          }
          32% {
            left: 19px;
            bottom: 1px;
          }
          33% {
            left: 20px;
            bottom: 0px;
          }
          34% {
            left: 21px;
            bottom: -1px;
          }
          35% {
            left: 20px;
            bottom: 0px;
          }
          36% {
            left: 19px;
            bottom: 1px;
          }
          37% {
            left: 20px;
            bottom: 0px;
          }
          38% {
            left: 21px;
            bottom: -1px;
          }
          39% {
            left: 20px;
            bottom: 0px;
          }
          40% {
            left: 19px;
            bottom: 1px;
          }
          41% {
            left: 20px;
            bottom: 0px;
          }
          42% {
            left: 21px;
            bottom: -1px;
          }
          43% {
            left: 20px;
            bottom: 0px;
            transform: translateY(0);
            opacity: 1;
          }
          80% {
            opacity: 1;
          }

          100% {
            opacity: 0;
            left: 20px;
            transform: translateY(-90vh);
            // transform: translateY(200vh);
          }
        }
      }
      #bottom-two {
        width: 20%;
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);

        // border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 2.5vh;
        }
        // @include downbutton;
      }
      #bottom-three {
        // height: 100%;
        width: 40%;
      }
    }
  }
}

@mixin ufoanimation {
  svg {
    // height: 30vh;
    // border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .cls-1 {
    fill: #565656;
  }

  .cls-2 {
    fill: #cdcdcd;
  }

  .cls-3 {
    fill: #324d5b;
  }

  .cls-4 {
    fill: #e2574c;
  }

  .cls-5 {
    fill: #cb4e44;
  }

  .cls-6 {
    fill: #2d4552;
  }

  .cls-7 {
    fill: #e4e7e7;
  }

  .cls-8 {
    fill: #d8dbdb;
  }

  .cls-9 {
    fill: #3db39e;
  }

  .cls-10 {
    fill: #3aaa96;
  }

  .cls-11 {
    fill: #fff;
  }

  .cls-12 {
    fill: #f2f2f2;
  }

  .cls-13 {
    fill: #2f4956;
  }
  #moon {
    transform-origin: center;
    transform: scale(0.3);
  }
  #moon .circlebackground {
    fill: #d3d3d3;
  }
  #moon2 {
    transform-origin: center;
    transform: scale(0.3);
    animation: moonfade 15s ease-in-out infinite;
  }
  #ufo {
    opacity: 1;
    transform-origin: center;
    transform: translateX(18%) translateY(18%) scale(0.3);
    animation: orbit linear 15s infinite;
  }

  @keyframes moonfade {
    0%,
    49%,
    100% {
      opacity: 0;
    }

    50%,
    99% {
      opacity: 1;
    }
  }

  @keyframes orbit {
    0%,
    100% {
      transform: translateX(18%) translateY(18%) scale(0.3);
    }
    25% {
      transform: scale(0.4);
    }
    50% {
      transform: translateX(-18%) translateY(-18%) scale(0.3);
    }
    75% {
      transform: scale(0.1);
    }
  }
}

@mixin tech-stack-master {
  // position: fixed;
  // margin-top: 40px;
  height: 100vh;
  // width: 100vw;
  // border: purple 1px solid;
  z-index: 0;
  .grid-container {
    // height: 91%;
    // border: purple 1px solid;
    margin: 0;
    padding: 0;

    // height: 100vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid white;
      display: flex;
      justify-content: center;
      text-align: center;
      // height: 8vh;
      height: 5vh;
      z-index: 0;
      overflow: visible;
      // width: 100%;
      #title-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        // background-image: url(./images/pinkcloud.svg);
        // background-size: 100%;
        // background-position: top center;
        // background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          align-self: flex-start;
          // margin-top: 1.1vh;
          color: $main-text-color;
          font-family: $font-stack;
          // @include aarontitle;
        }
      }
    }
    #middle-container {
      // border: 3px solid purple;
      // height: 58vh;
      height: 75vh;
      font-family: $font-stack;
      #tech-stack-container {
        height: 100%;
        // border: 1px solid purple;
        // width: 90%;
        display: flex;
        // justify-content: flex-start;
        // flex-direction: row;
        #individual-stack-container {
          // margin-top: 1.5vh;
          // height: 100%;
          // border: 1px solid rgba(0, 0, 0, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          #stack-title {
            height: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            // border: 1px solid rgba(0, 0, 0, 0.8);
            color: $stand-in-color;
            font-size: 5vh;
            padding-bottom: 20px;
          }
          #stack-icon-container {
            height: 70%;
            // width: 90%;
            div {
              // border: 1px solid rgba(0, 0, 0, 0.8);
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: wrap;
              justify-content: center;
              @include techstack-iconstyles;
            }
          }
        }
        #last-button-container {
          // width: 5%;
          height: 100%;
          // border: 1px solid rgba(0, 0, 0, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          #last-button {
            // align-items: flex-end;
            // margin-left: 3px;
            img {
              cursor: pointer;
              z-index: 999;
              height: 4vh;
              transform: rotate(90deg);
              // box-shadow: 5px 5px 10px 2px rgba(124, 124, 124, 0.568);
            }
          }
        }
        #next-button-container {
          // margin-right: 3px;
          // width: 5%;
          height: 100%;
          // border: 1px solid rgba(0, 0, 0, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          #next-button {
            // align-items: flex-end;
            img {
              cursor: pointer;
              z-index: 999;
              height: 4vh;
              transform: rotate(-90deg);
              // box-shadow: 5px 5px 10px 2px rgba(124, 124, 124, 0.568);
            }
          }
        }
      }
    }
    .bottom-container {
      // border: 2px solid red;
      // height: 31vh;
      height: 20vh;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-right-radius: 25px;
      display: flex;
      // justify-content: flex-end;
      flex-direction: row;
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 40%;
      #bottom-one {
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);
        width: 40%;
        // border: 1px solid green;
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        width: 20%;
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);

        // border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 2vh;
        }
      }
      #bottom-three {
        // height: 100%;
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
  }
}

@mixin portfolio-master {
  // position: fixed;
  // margin-top: 40px;
  // height: 100vh;
  // border: purple 1px solid;
  // height: 100%;
  z-index: 0;
  .grid-container {
    // height: 100%;
    // border: purple 1px solid;
    margin: 0;
    padding: 0;

    // height: 100vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // overflow: scroll;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid white;
      display: flex;
      justify-content: center;
      text-align: center;
      // height: 8vh;
      height: 5vh;
      z-index: 0;
      overflow: visible;
      // width: 100%;
      margin-bottom: 10px;
      #title-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        // background-image: url(./images/pinkcloud.svg);
        // background-size: 100%;
        // background-position: top center;
        // background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          align-self: flex-start;
          // margin-top: 1.1vh;
          color: $main-text-color;
          font-family: $font-stack;
          // @include aarontitle;
        }
      }
    }
    #middle-container {
      // border: 3px solid purple;
      // height: 58vh;
      // height: 75vh;
      font-family: $font-stack;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      #project-container {
        // border: 3px solid purple;
        width: 90%;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        #project-title {
          // border: 1px solid purple;
          color: $stand-in-color;
          font-size: 5vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
        }
        #project-links {
          width: 100%;
          // border: 1px solid purple;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #project-picture {
          // border: 1px solid purple;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: row;
          flex-wrap: wrap;
          img {
            // width: 80vw;
            // border: 1px solid purple;
            box-shadow: 2px 2px 10px 0.5px rgba(124, 124, 124, 0.568);

            // border-radius: 10px;
            height: 45vw;
          }
          margin-bottom: 5px;
        }
        #project-description {
          font-size: 2vh;
          margin-bottom: 10px;
        }
        #project-info-container {
          // font-size: 2vh;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: flex-start;
          #project-frontend {
            width: 45%;
          }
          #project-backend {
            width: 45%;
          }
        }
      }
    }
    .bottom-container {
      // border: 2px solid red;
      // height: 31vh;
      display: flex;
      // justify-content: flex-end;
      flex-direction: row;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 40%;
      #bottom-one {
        width: 40%;
        // border: 1px solid green;
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 2.5vh;
        } // height: 100%;
        width: 20%;
        // height: 100%;
      }
      #bottom-three {
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
  }
}
@mixin aboutme-master {
  // position: fixed;
  // margin-top: 40px;
  // height: 100vh;
  // border: purple 1px solid;
  // height: 100%;
  z-index: 0;
  .grid-container {
    // border: purple 1px solid;
    // height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow: scroll;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid white;
      display: flex;
      justify-content: center;
      text-align: center;
      // height: 8vh;
      height: 8vh;
      z-index: 0;
      overflow: visible;
      // width: 100%;
      margin-bottom: 10px;
      #title-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        // background-image: url(./images/pinkcloud.svg);
        // background-size: 100%;
        // background-position: top center;
        // background-repeat: repeat-x;
        z-index: 0;
        #title {
          // align-self: flex-start;
          // margin-top: 1.1vh;
          color: $main-text-color;
          font-family: $font-stack;
          // @include aarontitle;
        }
      }
    }
    #middle-container {
      // border: 1px solid purple;
      height: 85vh;
      font-family: $font-stack;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      align-self: center;
      #description-one {
        // border: 1px solid purple;
        font-size: 2vh;
        display: flex;
        align-items: center;
      }
      #links {
        width: 100%;
        height: 10%;
        // border: 1px solid purple;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        font-family: $font-stack;
      }
      #description-two {
        // border: 1px solid purple;
        font-size: 2vh;
      }
    }
    .bottom-container {
      height: 7vh;
      // border: 2px solid red;
      // height: 31vh;
      display: flex;
      // justify-content: flex-end;
      flex-direction: row;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 40%;
      #bottom-one {
        width: 40%;
        // border: 1px solid green;
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 2.5vh;
        } // height: 100%;
        width: 20%;
        // height: 100%;
      }
      #bottom-three {
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
  }
}
@mixin contact-master {
  // position: fixed;
  // margin-top: 40px;
  // height: 100vh;
  // border: purple 1px solid;
  // height: 100%;
  z-index: 0;
  .grid-container {
    // border: purple 1px solid;
    // height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow: scroll;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid white;
      display: flex;
      justify-content: center;
      text-align: center;
      // height: 8vh;
      height: 7vh;
      z-index: 0;
      overflow: visible;
      // width: 100%;
      margin-bottom: 10px;
    }
    #middle-container {
      // border: 1px solid purple;
      height: 75vh;
      font-family: $font-stack;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      #description-one {
        width: 80%;
        height: 50vh;
        // border: 1px solid purple;
        // font-size: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        #title-box {
          width: 100%;
          display: flex;
          justify-content: center;
          align-self: center;
          // background-color: #e1e8f0;
          // background-attachment: fixed;
          // height: 100%;
          // background-image: url(./images/pinkcloud.svg);
          // background-size: 100%;
          // background-position: top center;
          // background-repeat: repeat-x;
          z-index: 0;
          #title {
            // align-self: flex-start;
            // margin-top: 1.1vh;
            color: $main-text-color;
            font-family: $font-stack;
            // @include aarontitle;
          }
        }
        #title {
          align-self: flex-start;
        }
        #email-buttons {
          width: 100%;
          // height: 10vh;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          text-align: center;
          // border: 1px solid purple;
          #email-icon {
            // border: 1px solid purple;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 20%;
          }
          #email-text {
            // font-size: 2vh;

            width: 80%;
            // border: 1px solid purple;
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
          }
          #copy-button {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      #links {
        width: 100%;
        height: 10%;
        // border: 1px solid purple;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        font-family: $font-stack;
      }
      #description-two {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        // border: 1px solid purple;
        font-size: 2vh;
      }
    }
    .bottom-container {
      height: 18vh;
      // border: 2px solid red;
      // height: 31vh;
      display: flex;
      // justify-content: flex-end;
      flex-direction: row;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 40%;
      #bottom-one {
        width: 40%;
        // border: 1px solid green;
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        #down-button {
          height: 100%;
          // border: 1px solid rgba(0, 0, 0, 0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999;
          svg {
            height: 2.5vh;
          }
        } // height: 100%;
        width: 20%;
        // height: 100%;
      }
      #bottom-three {
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
  }
}

@mixin techstack-iconstyles {
  #icon-container {
    margin: 2px;
    // background-color: #ffffffe8;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    // border-radius: 5px;
    display: flex;
    // justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    #icon {
      // background-color: yellow;
      // padding: 2px;
      margin: 0;
      height: 8vh;
    }
    #icon-title {
      font-family: $font-stack;
      // padding: 2px;
      color: rgb(22, 22, 22);
      // text-decoration: underline;
      // background-color: blue;
    }
  }
  // #icon-container:hover {
  //   transform: scale(1.1, 1.1);
  // }
}

@mixin downbutton {
  svg {
    height: 2vh;
  }
}

@mixin about-me-template {
  // position: fixed;
  // margin-top: 40px;
  height: 100vh;
  // border: purple 1px solid;
  z-index: 0;
  .grid-container {
    // height: 91%;
    // border: white 1px solid;
    // width: 100vw;
    // height: 100vh;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .about-me-top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: white 1px solid;
      border-top-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      z-index: 0;
      #title-box {
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        background-image: url(./images/pinkcloud.svg);
        background-size: 100%;
        background-position: top center;
        background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          @include aarontitle;
        }
        #sub-title {
          @include sub-title;
        }
      }
      text-align: center;
    }
    #about-me-middle-container {
      height: 100%;
      // background-color: #ebebebb0;

      // border: 1px solid yellow;
      // border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      // padding-right: 10px;
      // padding-left: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // box-shadow: 2px 2px 0px 2px rgb(124, 124, 124);

      margin-right: 10px;
      margin-left: 10px;
      // font-size: 30px;
      // text-align: center;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 60%;
      font-family: $font-stack;
      color: rgb(65, 64, 64);

      #title-box-one {
        // height: 30%;
        // width: 95%;
        // border: 1px solid red;
        // border-top-right-radius: 40px;
        // border-radius: 5px;
        box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
        // background: linear-gradient(rgba(255, 255, 255, 0), #ffffffe8);
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: #ffffffe8;
        // padding-left: 10px;
        // padding-right: 10px;
        // padding-top: 10px;
        padding: 15px;
        font-size: 2vh;
        // text-align: center;
        display: flex;
        // justify-content: center;
        // align-items: center;
        overflow: auto;
      }
      #main-box-one {
        height: 20%;
        // width: 95%;
        // border-radius: 5px;
        // margin-bottom: 10px;
        // box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
        // background-color: #ffffffe8;
        // border: 1px solid orange;
        // padding: 10%;
        font-size: 2.2vh;
        border-bottom-right-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      #main-box-two {
        // height: 40%;
        // width: 95%;
        // border: 1px solid red;
        // border-radius: 5px;
        box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
        // background: linear-gradient(rgba(255, 255, 255, 0), #ffffffe8);
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: #ffffffe8;
        padding: 15px;
        font-size: 2vh;
        // text-align: center;
        display: flex;
        // justify-content: center;
        // align-items: center;
        overflow: auto;
      }
    }
    .about-me-bottom-container {
      grid-column-start: 1;
      grid-column-end: 3;
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // height: 31vh;
      height: 100%;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      background-image: url(./images/profile1.svg);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 40%;
      #bottom-one {
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        width: 40%;
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);

        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
      #bottom-three {
        // height: 100%;
        width: 20%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 3vh;
        }
      }
    }
  }
}

@mixin contact {
  // position: fixed;
  // margin-top: 40px;
  height: 100vh;
  // border: purple 1px solid;
  z-index: 0;
  .grid-container {
    // height: 91%;
    // border: white 1px solid;
    // width: 100vw;
    // height: 100vh;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: auto;
    .top-container {
      // background-color: rgba(255, 255, 255, 0.8);
      // border: white 1px solid;
      border-top-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      z-index: 0;
      #title-box {
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        background-image: url(./images/pinkcloud.svg);
        background-size: 100%;
        background-position: top center;
        background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          @include aarontitle;
        }
        #sub-title {
          @include sub-title;
        }
      }
      text-align: center;
    }
    #middle-container {
      height: 100%;
      // background-color: #ebebebb0;

      // border: 1px solid yellow;
      // border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      // padding-right: 10px;
      // padding-left: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // box-shadow: 2px 2px 0px 2px rgb(124, 124, 124);

      margin-right: 10px;
      margin-left: 10px;
      // font-size: 30px;
      // text-align: center;
      // background-image: url(./images/profile1.svg);
      // background-repeat: no-repeat;
      // background-position: left bottom;
      // background-size: 60%;
      font-family: $font-stack;
      color: rgb(65, 64, 64);

      #title-box-one {
        // height: 30%;
        // width: 95%;
        // border: 1px solid red;
        // border-top-right-radius: 40px;
        // border-radius: 5px;
        box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
        // background: linear-gradient(rgba(255, 255, 255, 0), #ffffffe8);
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: #ffffffe8;
        // padding-left: 10px;
        // padding-right: 10px;
        // padding-top: 10px;
        padding: 15px;
        font-size: 2vh;
        // text-align: center;
        display: flex;
        // justify-content: center;
        // align-items: center;
        overflow: auto;
      }
      #main-box-one {
        height: 20%;
        // width: 95%;
        // border-radius: 5px;
        // margin-bottom: 10px;
        // box-shadow: 2px 2px 3px 2px rgba(85, 85, 85, 0.747);
        // background-color: #ffffffe8;
        // border: 1px solid orange;
        // padding: 10%;
        font-size: 2.2vh;
        border-bottom-right-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
    }
    .bottom-container {
      // border: 1px solid rgba(0, 0, 0, 0.8);
      height: 100%;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      #bottom-one {
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        width: 40%;
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);

        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
      #bottom-three {
        // height: 100%;
        width: 20%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 3vh;
        }
      }
    }
  }
}

@mixin tech-stack-template {
  // position: fixed;
  // margin-top: 40px;
  height: 100vh;
  z-index: 0;
  .grid-container {
    // border: white 1px solid;
    // border: purple 4px solid;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // background-color: #2196f3;

    background-image: url(./images/octo2.svg);
    background-size: 70%;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: visible;
    .top-container {
      grid-column-start: 1;
      grid-column-end: 3;
      // border: 1px solid rgba(0, 0, 0, 0.8);
      border-top-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      // background-color: green;
      // z-index: 0;
      #title-box {
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        background-image: url(./images/pinkcloud.svg);
        background-size: 100%;
        background-position: top center;
        background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          @include aarontitle;
        }
        #sub-title {
          @include sub-title;
        }
      }
      text-align: center;
    }

    .long-row-middle-1 {
      height: 100%;
      // border: 1px solid rgba(0, 0, 0, 0.8);
      grid-column-start: 1;
      grid-column-end: 3;
      // background-color: rgb(109, 109, 109);
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 30% 20% 25% 25%;
      #front-end {
        // border: 1px solid rgba(0, 0, 0, 0.8);
        // background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: auto;
        #front-end-title {
          align-self: center;
          font-family: $font-stack;
          color: white;
          background-color: #d3006cff;
          padding: 5px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
        }
        #container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          // flex-direction: row;
          // flex-wrap: wrap;
          // background-color: yellow;
          #icon-container {
            margin: 2px;
            background-color: #ffffffe8;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            display: flex;
            // justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            #icon {
              // background-color: yellow;
              padding: 2px;
              margin: 0;
              height: 8vh;
            }
            #icon-title {
              font-family: $font-stack;
              padding: 2px;
              color: rgb(22, 22, 22);
              // text-decoration: underline;
              // background-color: blue;
            }
          }
          #icon-container:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }
      #back-end {
        // border: 1px solid rgba(0, 0, 0, 0.8);
        // background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: auto;
        #back-end-title {
          align-self: center;
          font-family: $font-stack;
          color: white;
          background-color: #d3006cff;
          padding: 5px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
        }
        #container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          // flex-direction: row;
          // flex-wrap: wrap;
          // background-color: yellow;
          #icon-container {
            margin: 2px;
            background-color: #ffffffe8;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            display: flex;
            // justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            #icon {
              // background-color: yellow;
              padding: 2px;
              margin: 0;
              height: 8vh;
            }
            #icon-title {
              font-family: $font-stack;
              padding: 2px;
              color: rgb(22, 22, 22);
              // text-decoration: underline;
              // background-color: blue;
            }
          }
          #icon-container:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }
      #database {
        // border: 1px solid rgba(0, 0, 0, 0.8);
        // background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: auto;
        #database-title {
          align-self: center;
          font-family: $font-stack;
          color: white;
          background-color: #d3006cff;
          padding: 5px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
        }
        #container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          // flex-direction: row;
          // flex-wrap: wrap;
          // background-color: yellow;
          #icon-container {
            margin: 2px;
            background-color: #ffffffe8;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            display: flex;
            // justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            #icon {
              // background-color: yellow;
              padding: 2px;
              margin: 0;
              height: 8vh;
            }
            #icon-title {
              font-family: $font-stack;
              padding: 2px;
              color: rgb(22, 22, 22);
              // text-decoration: underline;
              // background-color: blue;
            }
          }
          #icon-container:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }
      #other {
        z-index: 999;

        // border: 1px solid rgba(0, 0, 0, 0.8);
        // background-color: yellow;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: auto;
        #other-title {
          align-self: center;
          font-family: $font-stack;
          color: white;
          background-color: #d3006cff;
          padding: 5px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
        }
        #container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          // flex-direction: row;
          // flex-wrap: wrap;
          // background-color: yellow;
          #icon-container {
            margin: 2px;
            background-color: #ffffffe8;
            border: 1px solid rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            display: flex;
            // justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            #icon {
              // background-color: yellow;
              padding: 2px;
              margin: 0;
              height: 8vh;
            }
            #icon-title {
              font-family: $font-stack;
              padding: 2px;
              color: rgb(22, 22, 22);
              // text-decoration: underline;
              // background-color: blue;
            }
          }
          #icon-container:hover {
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
    .about-me-bottom-container {
      grid-column-start: 1;
      grid-column-end: 3;
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // height: 31vh;
      height: 100%;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      #bottom-one {
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);
        width: 40%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 25px;
      }
      #bottom-two {
        width: 40%;
        // height: 100%;
        // background: linear-gradient( rgba(255, 192, 203, 0), white);

        // border: 1px solid rgba(0, 0, 0, 0.8);
      }
      #bottom-three {
        // height: 100%;
        width: 20%;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        svg {
          height: 3vh;
        }
      }
    }
  }
}

@mixin aarontitle {
  // border-radius: 10;
  font-family: $font-stack;
  // padding-top: 10px;
  // padding-right: 10px;
  color: $stand-out-color;
  // text-shadow: 1px 1px 2px #4a4a66;
  font-size: 5vh;
  // -webkit-text-stroke: .5px rgb(173, 255, 125);

  // letter-spacing: .5vw;
  // margin-top: 1vw;
  // border: 1px solid green;
  // overflow: round($number: 360);
}

@mixin sub-title {
  font-family: $font-stack;
  font-size: 80%;
  // padding-top: 10px;
  // -webkit-text-stroke: .5px #3d7c47ff;
  // padding-right: 10px;
  color: $stand-out-color;
  // text-shadow: 1px 1px 2px #4a4a66;
}
@mixin fadein {
  animation: fadeIn ease $fade-in-time;
  -webkit-animation: fadeIn ease $fade-in-time;
  -moz-animation: fadeIn ease $fade-in-time;
  -o-animation: fadeIn ease $fade-in-time;
  -ms-animation: fadeIn ease $fade-in-time;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin burger {
  .burger {
    z-index: 999;
    // height: 3em;
    // width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-tap-highlight-color: transparent;

    // border: 2px solid red;
    .burger-lines:after {
      left: 0;
      top: -1em;
    }
    .burger-lines:before {
      left: 1em;
      top: 1em;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 150%;
      width: 150%;
      top: -25%;
      left: -25%;
    }
    .burger-lines {
      top: 70%;
      margin-top: -0.125em;
      left: 40%;
      &,
      &:after,
      &:before {
        pointer-events: none;
        display: block;
        content: "";
        width: 100%;
        border-radius: 0.25em;
        background-color: white;
        height: 0.25em;
        position: absolute;
        transform: rotate(0);
      }
      &:after {
        left: 0;
        top: -0.6em;
      }
      &:before {
        left: 0em;
        top: 0.7em;
      }
    }
  }

  .burger-squeeze {
    // border: 2px solid red;
    width: 2em;
    font-size: 12px;
    .burger-lines {
      // border: 2px solid red;
      &,
      &:after,
      &:before {
        background-color: $main-text-color;
        // background-color: #ec6543ff;
        // border: 2px solid red;
        transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
          0.4s background-color 0.2s;
      }
      &:after,
      &:before {
        width: 2em;
      }
    }

    &.open {
      .burger-lines {
        &,
        &:after,
        &:before {
          transition: 0.2s background-color, 0.2s top, 0.2s left,
            0.2s transform 0.15s;
        }
        & {
          background-color: transparent;
        }
        &:before,
        &:after {
          left: 0em;
          top: 0px;
        }
        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
}
