$fade-in-time: 5s;
@mixin main-area-template {
  // position: fixed;
  // margin-top: 40px;
  // height: 100%;
  // border: purple 1px solid;
  z-index: 0;
  .grid-container {
    // height: 91%;
    // border: purple 1px solid;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto;
    // background-color: #2196f3;

    .long-row-top {
      grid-column-start: 1;
      grid-column-end: 3;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      border-top-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      height: 8vh;
      #title-box {
        // background-color: #e1e8f0;
        // background-attachment: fixed;
        // height: 100%;
        background-image: url(./images/pinkcloud.svg);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: repeat-x;
        z-index: 0;
        // border: 1px solid rgba(0, 0, 0, 0.8);
        #title {
          @include aarontitle;
        }
        #sub-title {
          @include sub-title;
        }
      }
      text-align: center;
    }

    .long-row-middle-1 {
      height: 62vh;

      grid-column-start: 1;
      grid-column-end: 3;
      // background-color: rgba(255, 255, 255, 0.8);

      border: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      // padding: 20px;
      // font-size: 30px;
      text-align: center;
    }
    .long-row-middle-2 {
      height: 20vh;
      grid-column-start: 1;
      grid-column-end: 3;
      // background-color: rgba(255, 255, 255, 0.8);

      // border: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      // padding: 20px;
      // font-size: 30px;
      text-align: center;
    }
    .long-row-bottom-title {
      grid-column-start: 1;
      grid-column-end: 3;

      height: 10vh;
      // background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      // padding: 20px;
      // font-size: 30px;
      text-align: center;
    }
    .about-me-bottom-container {
      grid-column-start: 1;
      grid-column-end: 3;

      height: 50vh;
      // background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;

      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      background-image: url(./images/profile1.svg);
      background-repeat: no-repeat;
      // background-position: bottom;;
      background-size: 100%;

      z-index: 1; 
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      // border: 1px solid rgba(0, 0, 0, 0.8);
      // border-radius: 50px;
      // padding: 20px;
      // font-size: 30px;
      text-align: center;
    }
    #about-me-main-container{
      height: 62vh;

      grid-column-start: 1;
      grid-column-end: 3;
      // background-color: rgba(255, 255, 255, 0.8);

      border: 1px solid rgba(0, 0, 0, 0.8);
      // border-bottom-left-radius: 25px;
      // border-bottom-right-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      
      // padding: 20px;
      // font-size: 30px;
      // text-align: center;
      #picture-box{
        border: 1px solid rgba(0, 0, 0, 0.8);
        
      }
      #title-box{
        border: 1px solid rgba(0, 0, 0, 0.8);
        
      }
      #description-box{
        border: 1px solid rgba(0, 0, 0, 0.8);

      }
    }
  }
}


@mixin aarontitle {
  // border-radius: 10;
  font-family: $font-stack;
  padding-top: 10px;
  padding-right: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #4a4a66;
  font-size: 8vw;
  // -webkit-text-stroke: .5px rgb(173, 255, 125);

  // letter-spacing: .5vw;
  // margin-top: 1vw;
  // border: 1px solid green;
  // overflow: round($number: 360);
}

@mixin sub-title {
  font-family: $font-stack;
  font-size: 80%;
  // padding-top: 10px;
  // -webkit-text-stroke: .5px #3d7c47ff;
  // padding-right: 10px;
  color: #3d7c47ff;
  // text-shadow: 1px 1px 2px #4a4a66;
}
@mixin fadein {
  animation: fadeIn ease $fade-in-time;
  -webkit-animation: fadeIn ease $fade-in-time;
  -moz-animation: fadeIn ease $fade-in-time;
  -o-animation: fadeIn ease $fade-in-time;
  -ms-animation: fadeIn ease $fade-in-time;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
